<h2 class="location-header">View my locations</h2>
<div class='location-button'>
  <button id="start">Start trip</button>
  <button id="stop">End trip</button>
</div>

<section class="row">
  <div class="location-info col-md-4">
    Current position: <span><%= @location_info[:current_loc_name].presence || @location_info[:current_loc].map(&:to_s).join(', ') %></span><br/>
    Updated at: <span><%= @location_info[:last_updated_at] %></span>

    <% if params[:trip_name].present? %>
    <p>For <%= params[:trip_name] %> distance covered: <span class="distance"><%= @location_info[:distance] %> km</span></p>
    <% end %>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-4 form-select">
    <%= select("locations", "trip_name", options_for_select(@location_info[:trip_names], selected: params[:trip_name]), { include_blank: "Select trip" }, class: "trip-dropdown") %>
  </div>
</section>

<div id="map" class="map" data-locations="<%= @location_info[:points].to_json %>"></div>
